*{
      box-sizing: border-box;
}
p, ul{
      font-size: 14px;
}
#resume{
      width: 70%;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
      float: left;
      width: 60%;
}
header, footer{
      float: left;
      text-align: center;
      width:100%;
      background-color:pink;
      padding: 3% 0;
}
aside{
      float: right;
      width: 30%;
}

section {
      margin: 4% 2%;
}
article {
      margin-bottom: 7%;
}
section > h2 {
      position: relative;
}
section > h2::after {
      content : "";
      display: block;
      height  : 10px;
      width   : 70%;  /* or 100px */
      border-bottom: 1px dotted hsla(0, 6%, 52%, 0.604);
}
section p{
      margin-top: 2%;
}
h2{
      font-size: 19px;
}
h3{
      font-size: 14px;
      margin-bottom: 0;
}
h4{
      margin-top: 0;
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: lighter;
      color: rgb(75, 74, 74);
}
.bar{
      width: 70%;
      height: 20px;
      background-color: lightgray;
      border: 1px solid rgba(75, 74, 74, 0.548);
}
.progress{
      width: 50%;
      height: 18px;
      background-color: pink;
}
@media (max-width: 800px) {
      #resume {
        width: 100%;
      }
      aside{
            width: 40%;
      }
    }