* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  height: 40px;
  background-color: gray;
  justify-content:flex-end;
  margin-bottom: 10px;
  color: white;
}
.hamburger{
  display:none;
  margin: 10px 20px;
}
.menu{
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu li{
  list-style:none;
  display: block;
  float: left;
  margin: 10px 20px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
header h1{
  display: block;
  width: 85%;
  text-align: center;
}
.logo{
  margin-top: 10px;
  width: 15%;
  display: flex;
  justify-content: center;
}
.logo > img {
  height: 50px;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 10px;
}
section {
  width: 30%;
  float: left;
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}
footer{
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  border-top: 1px solid gray;
  float: left;
}

footer > ul li {
  display: block;
  float: left;
  width: 33.33%;
  text-align: center;
}

@media (max-width: 1024px) {
  section {
    width: 80%;
  }
  .menu li{
    display: none;
  }
  .hamburger{
    display:block;
  }
}

@media (max-width: 767px) {
  section {
    width: 100%;
  }
  header h1{
    width: 100%;
  }
  .logo{
    width: 100%;
  }
}
